.admin__main {
	// min-height: calc(100vh - 175px);
	&-wrap {
		min-height: 100vh;
	}

	&-card {
		display: flex;
		align-items: center;

		&-item {
			margin: 10px 30px;
			background-color: $color-white;
			border-radius: 10px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			padding: 0.6em 1.5em;
			width: 400px;

			&:hover {
				cursor: pointer;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			}

			&-header {
				display: flex;
				align-items: center;
				justify-content: right;

				&-title {
					font-size: 1em;
					color: $color-title;
					margin-right: 7px;
				}

				&-icon {
					font-size: 16px;
					color: $color-title;
				}
			}

			&-main {
				margin: 10px 0;

				&-wrap {
					display: flex;
					align-items: center;
					justify-content: space-around;
				}

				&-title {
					font-size: 4em;
					font-weight: 800;
					letter-spacing: 2px;
					font-family: $font-title;
				}

				&-infor {
					display: flex;
					align-items: center;
					margin-top: 10px;
					justify-content: space-between;

					&-item {
						&-title {
							font-size: 0.9em;
						}

						&-icon {
							&-up {
								font-size: 0.9em;
								margin: 0 3px;
								color: green;
							}

							&-down {
								font-size: 0.9em;
								margin: 0 3px;
								color: red;
							}
						}

						&-number {
							&-up {
								font-size: 0.9em;
								color: green;
								font-weight: 600;
							}

							&-down {
								font-size: 0.9em;
								color: red;
								font-weight: 600;
							}
						}
					}
				}
			}

			&-footer {
				border-top: 1px solid #ededed;
				padding-top: 8px;
			}
		}
	}

	&-chart {
		margin: 20px 30px 0 30px;
		background-color: $color-white;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		padding: 0.5em 2em;
		border-radius: 10px;

		&-main {
			display: flex;
			justify-content: space-between;
		}

		&-item {
			width: 50%;
			margin-top: 20px;

			&-header {
				font-size: 1.2em;
				margin-bottom: 20px;
			}
		}

		&-list {
			width: calc(40%);
			margin-top: 20px;

			&-header {
				font-size: 1.2em;
				margin-bottom: 40px;
			}

			&-ul {
				&-li {
					list-style: none;
					margin-bottom: 28px;

					&-stt {
						color: $color-white;
						background-color: $color-title;
						padding: 5px 11px;
						border-radius: 50%;
					}

					&-title {
						font-size: 1.1em;
						font-weight: 600;
						margin: 0 20px;
					}
				}
			}
		}
	}

	&-content {
		margin: 4em 15% 0 15%;

		.ant-table {
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
			rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

			.ant-table-content {
				table {
					padding: 0 15px;
				}
			}
		}
	}

	&-filter {
		background-color: #ffffff;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
		border-radius: 5px;
		padding: 10px 20px;
		margin-bottom: 2em;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-button {
			width: 170px;

			&-dropdown {
				background-color: #ffffff;
				width: 260px;
				padding: 5px 20px 10px 20px;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
				rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
				border-radius: 5px;

				&-title {
					width: 100%;
					border-bottom: 1px solid #ededed;
					font-weight: 700;
				}

				&-body {
					padding: 5px 0;

					&-title {
						margin: 5px 0;
					}

					&-btn {
						margin-top: 12px;
						display: flex;
						align-items: center;
						justify-content: space-between;
					}
				}
			}
		}

		&-input {
			width: calc(100% - 500px);
		}

		&-grbtn {
		}
	}

	&-save {
		background-color: #fff;
		text-align: right;
		margin-top: 20px;
		padding: 10px 0px;

		&-products {
			position: fixed;
			background-color: #ffffffa2;
			padding: 10px 0px;
			bottom: 0;
			right: 0;
			width: 100%;
			display: flex;
			justify-content: right;

			&-btn-2 {
				margin-right: calc(15% - 30px);
			}
		}
	}

	&-label {
		display: block;
		font-size: 1.1em;
		color: $color-title;
		font-weight: 700;
		margin-bottom: 12px;
		margin-top: 10px;
	}

	&-wall {
		background-color: #ededed;
		height: 1px;
		width: 100%;
		margin: 20px 0 10px 0;
	}

	&-cards {
		background-color: #fff;
		padding: 20px 20px;
		display: block;

		&-left {
			width: 70%;
		}

		&-right {
			width: calc(30% - 20px);
		}

		.ant-tabs-tab-btn {
			font-size: 1.1em;
			font-weight: 600;
		}

		&-title {
			font-size: 1.2em;
			font-weight: 700;
			border-bottom: 1px solid #ededed;
			padding-bottom: 8px;
			margin-bottom: 8px;
		}
	}

	&-custom-upload {
		margin-top: 20px;
		text-align: center;

		:where(
        .css-dev-only-do-not-override-1e3x2xa
      ).ant-upload-wrapper.ant-upload-picture-card-wrapper
		.ant-upload.ant-upload-select,
		:where(
        .css-dev-only-do-not-override-1e3x2xa
      ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
		.ant-upload.ant-upload-select {
			width: 180px !important;
			height: 180px !important;
		}

		.ant-upload-list-item,
		.ant-upload-list-item-container {
			width: 180px !important;
			height: 180px !important;
		}
	}

	&-dnd {
		&-item {
			display: flex;
			border: 1px dashed #bfbfbf;
			margin: 1em 0;
			background-color: #fff;
			padding: 10px 20px;
		}
	}

	&-footer {
		&-group {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 15px;

			&-item {
				width: 45%;
			}

			&-btn {
				background-color: #fff;
				border: 1px dashed #ededed;
				padding: 10px 0;
				text-align: center;

				&:hover {
					background-color: $color-primary;
					cursor: pointer;
					transition: all 0.2s ease-in-out;
					font-weight: 600;
				}
			}
		}
	}

	&-block {
		&-wall {
			border-bottom: dashed 1px #ccc;
		}
		&-image-text {
			display: flex;
			align-items: center;
			justify-content: space-between;
			:where(.css-dev-only-do-not-override-1e3x2xa).ant-upload-wrapper.ant-upload-picture-card-wrapper, :where(.css-dev-only-do-not-override-1e3x2xa).ant-upload-wrapper.ant-upload-picture-circle-wrapper {
				width: 120px;
			}
			&-input {
				width: calc(100% - 120px);
			}
		}
	}
}
.admin-order-wrap {
	background-color: #fff;
	padding: 1em 2em;
	&-title{
		font-size: 1.2em;
		font-weight: 500;
		margin-bottom: 12px;
		&-hightlight {
			font-size: 1.2em;
			font-weight: 600;
			margin-left: 15px;
		}
	}
	&-cart {
		&-title {
			font-size: 1.2em;
			font-weight: 500;
		}
		&-list {
			margin: 1em 2em;
			&-item {
				display: flex;
				align-items: center;
				&-stt {
					font-size: 1.1em;
					font-weight: 700;
				}
				&-name {
					font-size: 1.1em;
					font-weight: 500;
					margin: 0 1em;
				}
				&-sl {
					font-size: 1.1em;
					font-weight: 700;
				}
			}
		}
	}
}

@include responsive_1440 {
	.admin__main {
		&-content {
			margin: 4em 3% 0 3%;
		}
	}
}

@include responsive_1650 {
	.admin__main {
		&-content {
			margin: 4em 7% 0 7%;
		}
	}
}