.products-cart {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  &-title {
    font-family: $font-title;
    color: $color-title;
    font-weight: 600;
    margin: 1em 0 0.6em 0;
    font-size: 3em;
  }
  &-table {
    width: 70%;
    font-family: $font-title;
    border: 1px solid #e8e8e8;
    &-input {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 1px;
      border: 1px solid #555;
      vertical-align: middle;
      &:hover {
        cursor: pointer;
      }
      &:checked {
        background-image: url("/icon/ticket.png");
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &-header {
      height: 3em;
      background-color: #e8e8e8;
      font-size: 1.3em;
      color: $color-title;
      &-0 {
        width: 5%;
      }
      &-1 {
        width: 40%;
      }
      &-2 {
        width: 15%;
      }
      &-3 {
        width: 20%;
      }
      &-4 {
        width: 15%;
      }
      &-5 {
        width: 5%;
      }
    }
    &-body {
      &-item {
        height: 7.5em;
        border-bottom: 1px solid #e8e8e8;
        &:hover {
          cursor: pointer;
          .products-cart-table-body-item-1-title {
            color: $color-primary;
            transition: all 0.2s ease-in-out;
            font-weight: 500;
          }
        }
        &-0 {
          width: 5%;
          text-align: center;
        }
        &-1 {
          width: 40%;
          &-img {
            margin-left: 1em;
            width: 80px;
          }
          &-title {
            margin-left: 0.5em;
            font-family: $font-title;
            color: $color-title;
            font-size: 1.2em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 3.6em;
            line-height: 1.8em;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
          }
        }
        &-2 {
          width: 15%;
          text-align: center;
          font-size: 1.2em;
          font-family: $font-title;
          font-weight: 600;
        }
        &-3 {
          width: 20%;
          text-align: center;
          &-input {
            font-size: 1.2em;
            font-family: $font-title;
            font-weight: 600;
            width: 3.5em;
          }
          &-btn {
            padding: 0 0.7em !important;
            &-icon {
              position: relative;
              line-height: 0.8em;
              font-family: $font-title;
              color: $color-title;
              font-weight: 600;
              font-size: 2.2em;
            }
          }
        }
        &-4 {
          width: 15%;
          text-align: center;
          font-size: 1.2em;
          font-family: $font-title;
          font-weight: 600;
          color: $color-primary;
        }
        &-5 {
          width: 5%;
          font-size: 1.4em;
          color: $color-title;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
  &-infor {
    width: calc(30% - 2em);
    &-header {
      border: 1px solid #e8e8e8;
    }
    &-title {
      font-size: 1.6em;
      font-weight: 600;
      color: $color-title;
      font-family: $font-title;
      text-align: center;
      margin: 0.8em 0;
    }
    &-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 1em;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 0.5em;
      &-title {
        font-size: 1.1em;
        font-weight: 500;
        font-family: $font-document;
        &-s {
          color: $color-primary;
        }
      }
      &-number {
        font-size: 1.1em;
        font-weight: 500;
        font-family: $font-document;
      }
    }
    &-blockt {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 1em;
      padding-top: 0.5em;
      &-title {
        font-size: 1.2em;
        font-weight: 600;
        font-family: $font-document;
      }
      &-number {
        font-size: 1.2em;
        font-weight: 500;
        font-family: $font-document;
        color: $color-primary;
      }
    }
    &-sub {
      margin: 0.5em 1em;
      text-align: right;
      font-family: $font-document;
    }
    &-btn {
      background-color: $color-primary;
      width: 100%;
      margin-top: 1.6em;
      text-align: center;
      color: $color-white;
      padding: 1em 0;
      font-size: 1.4em;
      font-weight: 500;
      font-family: $font-title;
      border-radius: 4px;
      &:hover {
        cursor: pointer;
        background-color: $color-second;
      }
      &-dis {
        background-color: #ededed;
        width: 100%;
        margin-top: 1.6em;
        text-align: center;
        color: $color-white;
        padding: 1em 0;
        font-size: 1.4em;
        font-weight: 500;
        font-family: $font-title;
        border-radius: 4px;
        &:hover {
          cursor: no-drop;
        }
      }
    }
  }
  &-modal {
    &-title {
      text-align: center;
      font-family: $font-title;
      color: $color-title;
      font-weight: 600;
      font-size: 1.6em;
      margin-bottom: 10px;
    }
    &-description {
      text-align: center;
      font-family: $font-document;
      color: $color-description;
      font-weight: 500;
      font-size: 1.2em;
      &-hightline {
        font-family: $font-document;
        color: $color-primary;
        font-weight: 600;
        font-size: 1.2em;
      }
    }
    &-group {
      display: flex;
      align-items: center;
      justify-content: right;
      &-btn1 {
        text-align: center;
        font-family: $font-title;
        color: $color-description;
        font-weight: 500;
        font-size: 1.2em;
        margin-right: 1.5em;
        &:hover {
          cursor: pointer;
          color: $color-primary;
        }
      }
      &-btn2 {
        background-color: $color-primary;
        text-align: center;
        font-family: $font-title;
        color: $color-white;
        font-weight: 500;
        font-size: 1.2em;
        margin-right: 1em;
        transition: all 0.2s ease-in-out;
        padding: 0.2em 0.6em;
        border-radius: 3px;
        &:hover {
          cursor: pointer;
          background-color: $color-second;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
  &-embty {
    text-align: center;
    margin: 0 auto;
    &-img {
      display: block;
      margin: 1em auto;
    }
    &-text {
      text-align: center;
      font-family: $font-document;
      font-size: 1.2em;
      color: $color-title;
    }
  }
}

.products-bill {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  &-block {
    width: 70%;
    &-b1 {
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      padding: 1em;
      &-title {
        display: flex;
        justify-content: space-between;
        &-text {
          font-size: 1.6em;
          font-family: $font-title;
          font-weight: 600;
          color: $color-title;
        }
        &-btn {
          font-size: 1.1em;
          font-family: $font-document;
          font-weight: 500;
          color: $color-title;
          border: 1px solid #e8e8e8;
          border-radius: 10px;
          padding: 0.2em 1em;
          transition: all 0.2s ease-in-out;
          &:hover {
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            color: $color-primary;
            border: 1px solid $color-primary;
          }
        }
      }
      &-body {
        margin-top: 1em;
        font-size: 1.1em;
        font-family: $font-document;
      }
    }
    &-b2 {
      margin: 1em 0;
      &-group {
        margin-top: 1em;
        &-item {
          display: flex;
          align-items: center;
          margin-top: 0.8em;
          span {
            font-size: 1.1em;
            font-family: $font-document;
          }
          &-input {
            width: 400px;
          }
        }
      }
    }
    &-b3 {
      &-textarea {
        margin-top: 1em;
        height: 120px !important;
        background-color: #f5f5f5;
        font-size: 1.2em;
        font-weight: 500;
        font-family: $font-document;
        color: $color-title;
        line-height: 1.4em;
        padding: 1em;
      }
    }
    &-b4 {
      margin-top: 1em;
      &-table {
        width: 100%;
        margin-top: 1em;
      }
    }
  }
}

@include responsive_320 {

}
@include responsive_375 {
  .products-cart {
    margin: 1em 0;
    display: block;
    &-title {
      font-family: $font-title;
      color: $color-title;
      font-weight: 600;
      margin: 1em 0 0.6em 0;
      font-size: 3em;
    }
    &-table {
      width: 96vw !important;
      overflow: hidden;
      font-family: $font-title;
      border: 1px solid #e8e8e8;
      &-input {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        background: white;
        border-radius: 1px;
        border: 1px solid #555;
        vertical-align: middle;
        &:hover {
          cursor: pointer;
        }
        &:checked {
          background-image: url("/icon/ticket.png");
          background-size: 90%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      &-header {
        height: 3em;
        background-color: #e8e8e8;
        font-size: 1em;
        color: $color-title;
        &-0 {
          width: 5%;
          .products-cart-table-input {
            width: 16px !important;
            height: 16px !important;
          }
        }
        &-1 {
          width: 40%;
        }
        &-2 {
          width: 15%;
        }
        &-3 {
          width: 20%;
        }
        &-4 {
          width: 15%;
        }
        &-5 {
          width: 5%;
        }
      }
      &-body {
        &-item {
          height: 7.5em;
          border-bottom: 1px solid #e8e8e8;
          &:hover {
            cursor: pointer;
            .products-cart-table-body-item-1-title {
              color: $color-primary;
              transition: all 0.2s ease-in-out;
              font-weight: 500;
            }
          }
          &-0 {
            width: 5%;
            text-align: center;
          }
          &-1 {
            width: 40%;
            &-img {
              margin-left: 1em;
              width: 60px;
              height: 60px;
            }
            &-title {
              margin-left: 0.1em;
              font-family: $font-title;
              color: $color-title;
              font-size: 1em;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-height: 3.6em;
              line-height: 1.8em;
              font-weight: 500;
              transition: all 0.2s ease-in-out;
            }
          }
          &-2 {
            width: 10%;
            text-align: center;
            font-size: 1em;
            font-family: $font-title;
            font-weight: 600;
          }
          &-3 {
            width: 25%;
            text-align: center;
            &-input {
              font-size: 1em;
              font-family: $font-title;
              font-weight: 600;
              width: 2.5em;
            }
            &-btn {
              padding: 0 0.7em !important;
              &-icon {
                position: relative;
                line-height: 0.8em;
                font-family: $font-title;
                color: $color-title;
                font-weight: 600;
                font-size: 2.2em;
              }
            }
          }
          &-4 {
            width: 15%;
            text-align: center;
            font-size: 1.2em;
            font-family: $font-title;
            font-weight: 600;
            color: $color-primary;
          }
          &-5 {
            width: 5%;
            font-size: 1.4em;
            color: $color-title;
            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
    &-infor {
      margin-top: 2em;
      width: calc(100%);
      &-header {
        border: 1px solid #e8e8e8;
      }
      &-title {
        font-size: 1.6em;
        font-weight: 600;
        color: $color-title;
        font-family: $font-title;
        text-align: center;
        margin: 0.8em 0;
      }
      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1em;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 0.5em;
        &-title {
          font-size: 1.1em;
          font-weight: 500;
          font-family: $font-document;
          &-s {
            color: $color-primary;
          }
        }
        &-number {
          font-size: 1.1em;
          font-weight: 500;
          font-family: $font-document;
        }
      }
      &-blockt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1em;
        padding-top: 0.5em;
        &-title {
          font-size: 1.2em;
          font-weight: 600;
          font-family: $font-document;
        }
        &-number {
          font-size: 1.2em;
          font-weight: 500;
          font-family: $font-document;
          color: $color-primary;
        }
      }
      &-sub {
        margin: 0.5em 1em;
        text-align: right;
        font-family: $font-document;
      }
      &-btn {
        background-color: $color-primary;
        width: 100%;
        margin-top: 1.6em;
        text-align: center;
        color: $color-white;
        padding: 1em 0;
        font-size: 1.4em;
        font-weight: 500;
        font-family: $font-title;
        border-radius: 4px;
        &:hover {
          cursor: pointer;
          background-color: $color-second;
        }
        &-dis {
          background-color: #ededed;
          width: 100%;
          margin-top: 1.6em;
          text-align: center;
          color: $color-white;
          padding: 1em 0;
          font-size: 1.4em;
          font-weight: 500;
          font-family: $font-title;
          border-radius: 4px;
          &:hover {
            cursor: no-drop;
          }
        }
      }
    }
    &-modal {
      &-title {
        text-align: center;
        font-family: $font-title;
        color: $color-title;
        font-weight: 600;
        font-size: 1.6em;
        margin-bottom: 10px;
      }
      &-description {
        text-align: center;
        font-family: $font-document;
        color: $color-description;
        font-weight: 500;
        font-size: 1.2em;
        &-hightline {
          font-family: $font-document;
          color: $color-primary;
          font-weight: 600;
          font-size: 1.2em;
        }
      }
      &-group {
        display: flex;
        align-items: center;
        justify-content: right;
        &-btn1 {
          text-align: center;
          font-family: $font-title;
          color: $color-description;
          font-weight: 500;
          font-size: 1.2em;
          margin-right: 1.5em;
          &:hover {
            cursor: pointer;
            color: $color-primary;
          }
        }
        &-btn2 {
          background-color: $color-primary;
          text-align: center;
          font-family: $font-title;
          color: $color-white;
          font-weight: 500;
          font-size: 1.2em;
          margin-right: 1em;
          transition: all 0.2s ease-in-out;
          padding: 0.2em 0.6em;
          border-radius: 3px;
          &:hover {
            cursor: pointer;
            background-color: $color-second;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
    &-embty {
      text-align: center;
      margin: 0 auto;
      &-img {
        display: block;
        margin: 1em auto;
      }
      &-text {
        text-align: center;
        font-family: $font-document;
        font-size: 1.2em;
        color: $color-title;
      }
    }
  }
  .products-bill {
    margin: 0em 0;
    display: block;
    &-block {
      width: 100%;
      &-b1 {
        border: 1px solid #e8e8e8;
        border-radius: 3px;
        padding: 1em;
        &-title {
          display: flex;
          justify-content: space-between;
          &-text {
            font-size: 1.6em;
            font-family: $font-title;
            font-weight: 600;
            color: $color-title;
          }
          &-btn {
            font-size: 1.1em;
            font-family: $font-document;
            font-weight: 500;
            color: $color-title;
            border: 1px solid #e8e8e8;
            border-radius: 10px;
            padding: 0.2em 1em;
            transition: all 0.2s ease-in-out;
            &:hover {
              transition: all 0.2s ease-in-out;
              cursor: pointer;
              color: $color-primary;
              border: 1px solid $color-primary;
            }
          }
        }
        &-body {
          margin-top: 1em;
          font-size: 1.1em;
          font-family: $font-document;
        }
      }
      &-b2 {
        margin: 1em 0;
        &-group {
          margin-top: 1em;
          &-item {
            display: flex;
            align-items: center;
            margin-top: 0.8em;
            span {
              font-size: 1.1em;
              font-family: $font-document;
            }
            &-input {
              width: 400px;
            }
          }
        }
      }
      &-b3 {
        &-textarea {
          margin-top: 1em;
          height: 120px !important;
          background-color: #f5f5f5;
          font-size: 1.2em;
          font-weight: 500;
          font-family: $font-document;
          color: $color-title;
          line-height: 1.4em;
          padding: 1em;
        }
      }
      &-b4 {
        margin-top: 1em;
        &-table {
          width: 100%;
          margin-top: 1em;
        }
      }
    }
  }

}
@include responsive_456 {

}