.slick-dots li button:before {
  font-size: 16px !important;
  line-height: 1;
  color: #999;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: $color-white-tranparent !important;
}

.slick-dots {
  bottom: 20px; /* chỉnh vị trí của các chấm tròn */
}

.slick-dots li {
  margin: 0 5px; /* khoảng cách giữa các chấm tròn */
}

.slick-dots li button:before {
  margin-top: -40px; /* chỉnh vị trí của các chấm tròn */
}

// ẩn mũi tên di chuyển mặc định của slider
.slick-arrow {
  display: none !important;
}
