.home {
  &__slider {
    width: 100%;
    position: relative;
    &-item {
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-wrap {
        position: absolute;
        z-index: 10;
        top: 30%;
        padding-left: 20vw;
        &-title {
          display: block;
          font-weight: 700;
          font-size: 3em;
          line-height: 1.3em;
          width: 35vw;
          height: 2.5em;
          color: $color-white;

          // background-color: red;
          font-family: $font-title;
          letter-spacing: 2px;
        }
        &-description {
          display: block;
          font-weight: 400;
          font-size: 1.6em;
          line-height: 1.8em;
          width: 35vw;
          height: 4em;
          color: $color-white;
          // background-color: red;
          font-family: $font-document;
        }

        &-btn {
          font-weight: 500;
          margin-top: 1.5em;
          font-family: $font-document;
          font-size: 1.4em;
          height: 2.4em;
        }
      }
    }

    &-btn1 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      right: 1em;
      scale: 0;
      transition: all 0.3s ease-in-out;

      &-icon {
        font-size: 3em;
        color: $color-white-tranparent;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        cursor: pointer;

        .home__slider-btn1-icon {
          color: $color-white;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &-btn2 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      left: 1em;
      scale: 0;
      transition: all 0.3s ease-in-out;

      &-icon {
        font-size: 3em;
        color: $color-white-tranparent;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        cursor: pointer;

        .home__slider-btn2-icon {
          color: $color-white;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &:hover {
      .home__slider-btn1,
      .home__slider-btn2 {
        scale: 1;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__title {
    text-align: center;

    &-text {
      text-align: center;
      font-size: 2.1em;
      font-weight: 700;
      color: $color-primary;
      letter-spacing: 0.05em;
      margin-top: 0.5em;
    }

    &-wall {
      margin: 1em auto;
      height: 0.3em;
      background-color: $color-primary;
      width: 5em;
    }
  }

  &__principles {
    padding: 2em 20% 0em 20%;
    display: flex;
    align-items: center;
    position: relative;
    top: -80px;
    &-block {
      background-color: $color-white;
      text-align: center;
      padding: 30px;
      width: calc(30%);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 5px;
      height: 180px;
      transition: all 0.2s linear;
      &:hover {
        cursor: pointer;
        scale: 1.2;
        transition: all 0.2s linear;
      }
      &-title {
        color: $color-blue;
        font-family: $font-title;
        font-size: 1.6em;
        font-weight: 600;
        margin-top: 10px;
      }
      &-description {
        color: $color-blue;
        font-family: $font-document;
        font-size: 1em;
      }
      &-active {
        background-color: $color-primary;
        text-align: center;
        padding: 40px 50px 50px 50px;
        width: calc(40%);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;
        height: 216px;
        &:hover {
          cursor: pointer;
        }
        &-title {
          color: $color-white;
          font-family: $font-title;
          font-size: 1.92em;
          font-weight: 600;
          margin-top: 10px;
        }
        &-description {
          color: $color-white;
          font-family: $font-document;
          font-size: 1.2em;
        }
      }
    }
    &-puzzle {
      margin-top: 50px;
      width: 100%;
      &-image {
        width: 30vw;
        height: 20vw;
        position: relative;
      }
      &-infor {
        margin-left: 30px;
        h2:where(.css-dev-only-do-not-override-1e3x2xa).ant-typography,
        div:where(.css-dev-only-do-not-override-1e3x2xa).ant-typography-h2,
        div:where(.css-dev-only-do-not-override-1e3x2xa).ant-typography-h2
          > textarea,
        :where(.css-dev-only-do-not-override-1e3x2xa).ant-typography h2 {
          color: $color-blue;
        }
        :where(.css-dev-only-do-not-override-1e3x2xa).ant-typography {
          color: $color-blue;
        }
        &-title {
          font-size: 1.6em;
          font-family: $font-title;
        }
        &-text {
        }
        &-btn {
          margin-top: 20px;
        }
      }
    }
  }

  &__cardtabs {
    margin: 2em 20%;

    &-wrap {
      margin-top: 2em;
      width: 100%;

      .ant-tabs-nav-wrap::before {
        display: none;
      }

      .ant-tabs-nav,
      .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right,
      .ant-tabs-nav-list {
        width: 100%;
      }

      .ant-tabs-nav-list {
        position: relative;
      }

      .ant-tabs-nav-list::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: $color-primary;
        bottom: 3px;
        z-index: 10;
        width: 100%;
        left: 0;
      }

      .ant-tabs-nav-wrap {
        justify-content: space-around;
      }

      .ant-tabs-tab.ant-tabs-tab-active {
        border: none;
        background-color: #fff;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 0.4em;
          background-color: $color-primary;
          bottom: 0;
          z-index: 10;
          width: 4em;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .ant-tabs-tab {
        border: none !important;
        background-color: #fff !important;
        width: 25% !important;
        display: flex;
        justify-content: center;
        font-size: 1.3em !important;
        font-family: $font-title;
        padding: 1em 0 !important;
      }

      .ant-card.css-dev-only-do-not-override-1e3x2xa {
        box-shadow: none;
      }

      .ant-tabs-nav::before {
        display: none;
      }

      .ant-card-head {
        border-bottom: none;
        padding: 1em 0;
        font-size: 1.2em;
        color: $color-title;
        font-size: $font-title;
      }

      .ant-card-body {
        padding: 0.2em 0;
        font-size: 1em;
        color: $color-description;
        font-size: $font-document;
      }
    }
  }

  &__listproducts {
    padding: 0em 20% 0em 20%;
    margin-top: -3em;
    &-slider {
      margin-top: 3em;
      &-big {
        position: relative;
        &:hover {
          .home__listproducts-slider-big-btn1,
          .home__listproducts-slider-big-btn2 {
            scale: 1;
            transition: all 0.3s ease-in-out;
          }
        }
        &-btn1 {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-size: 40px;
          scale: 0;
          z-index: 30;
          transition: all 0.3s ease-in-out;
          color: $color-description;

          &:hover {
            cursor: pointer;
            color: $color-primary;
            transition: all 0.2s ease-in-out;
          }
        }
        &-btn2 {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          font-size: 40px;
          scale: 0;
          z-index: 30;
          transition: all 0.3s ease-in-out;
          color: $color-description;

          &:hover {
            cursor: pointer;
            color: $color-primary;
            transition: all 0.2s ease-in-out;
          }
        }
        &-item {
          &-wrap {
            width: 80vw;
            height: 30vw;
            padding: 0 5em;
          }
          width: 100%;
        }
      }

      &-small {
        margin-top: 2em;
        position: relative;

        &:hover {
          .home__listproducts-slider-small-btn1,
          .home__listproducts-slider-small-btn2 {
            scale: 1;
            transition: all 0.3s ease-in-out;
          }
        }

        &-btn1 {
          position: absolute;
          top: 40%;
          right: -10px;
          transform: translateY(-50%);
          font-size: 20px;
          scale: 0;
          z-index: 30;
          transition: all 0.3s ease-in-out;
          color: $color-description;

          &:hover {
            cursor: pointer;
            color: $color-primary;
            transition: all 0.2s ease-in-out;
          }
        }

        &-btn2 {
          position: absolute;
          top: 40%;
          left: 0;
          transform: translateY(-50%);
          font-size: 20px;
          scale: 0;
          z-index: 30;
          transition: all 0.3s ease-in-out;
          color: $color-description;

          &:hover {
            cursor: pointer;
            color: $color-primary;
            transition: all 0.2s ease-in-out;
          }
        }

        &-item {
          &-wrap {
            width: calc(8vw);
            height: 4vw;
            padding: 0 10px;
          }

          width: 100%;
          height: 3vw;
          border-radius: 3px;
          transition: all 0.1s ease-in-out;

          &:hover {
            cursor: pointer;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }
  }

  &__products {
    padding: 3em 20%;

    &-header {
      &-title {
        font-size: 1.8em;
        font-weight: 800;
        color: $color-title;
        letter-spacing: 0.5px;
      }

      &-btn {
        padding-left: 3em !important;
        padding-right: 3em !important;

        &-text {
          font-size: 1.1em;
          line-height: 1.1em;
          font-family: $font-document;
        }
      }
    }

    &-slider {
      margin: 2em -1em;
      position: relative;

      &:hover {
        .home__products-slider-btn1,
        .home__products-slider-btn2 {
          scale: 1;
          transition: all 0.2s ease-in-out;
        }
      }

      &-btn1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        right: -1em;
        scale: 0;
        transition: all 0.2s ease-in-out;
        font-size: 3em;
        color: $color-link-hover;

        &:hover {
          cursor: pointer;
          color: $color-primary;
          transition: all 0.2s ease-in-out;
        }
      }

      &-btn2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        left: -1em;
        scale: 0;
        transition: all 0.3s ease-in-out;
        font-size: 3em;
        color: $color-link-hover;

        &:hover {
          cursor: pointer;
          color: $color-primary;
          transition: all 0.3s ease-in-out;
        }
      }

      &-item {
        padding: 0.5em 0.5em;
      }
    }
  }

  &__event {
    padding: 1em 20%;

    &-wrap {
      margin-top: 2em;

      &-card {
        .ant-card-body {
          padding: 1em;
        }

        .ant-card-meta-title {
          font-size: 1.3em;
          font-weight: 600;
          color: $color-title;
          font-family: $font-title;
        }

        .ant-card-meta-description {
          font-size: 1.1em;
          font-weight: 400;
          color: $color-description;
          font-family: $font-document;
        }

        &-time {
          margin-top: 0.5em;
          font-weight: 600;
          font-family: $font-document;
          color: $color-description;
        }
      }
    }

    &-list {
      margin-left: 3em;

      .ant-card-body {
        padding: 0;
        box-shadow: none !important;
      }

      .ant-card.css-dev-only-do-not-override-1e3x2xa {
        box-shadow: none !important;
        padding: 1em 0;
      }

      .ant-list-item.ant-list-item-no-flex {
        padding: 0;
        box-shadow: none !important;
        border-bottom: 1px solid #333;
      }

      &-card {
        &:hover {
          cursor: pointer;

          .home__event-list-card-infor-title {
            color: $color-primary;
            transition: all 0.2s ease-in-out;
          }
        }

        &-img {
        }

        &-infor {
          margin-left: 1em;

          &-title {
            font-size: 1.2em;
            font-weight: 600;
            color: $color-title;
            font-family: $font-title;
            transition: all 0.2s ease-in-out;
          }

          &-description {
            font-size: 1em;
            font-weight: 400;
            color: $color-description;
            font-family: $font-document;
          }

          &-time {
            margin-top: 0.5em;
            font-weight: 600;
            font-family: $font-document;
            color: $color-description;
          }
        }
      }
    }
  }

  &__partner {
    padding: 1em 20%;

    &-slider {
      position: relative;
      margin: 3em -5em 1em -5em;

      &-btn1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        right: 0em;
        scale: 0;
        font-size: 3em;
        color: $color-description;
        transition: all 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          color: $color-primary;
          transition: all 0.3s ease-in-out;
        }
      }

      &-btn2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        left: 0em;
        scale: 0;
        font-size: 3em;
        color: $color-description;
        transition: all 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          color: $color-primary;
          transition: all 0.3s ease-in-out;
        }
      }

      &:hover {
        .home__partner-slider-btn1,
        .home__partner-slider-btn2 {
          scale: 1;
          transition: all 0.3s ease-in-out;
        }
      }

      &-item {
        &-img {
        }
      }
    }
  }

  &__contact {
    margin: 1em 20%;

    &-map {
      width: 100%;
      height: 30em;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    &-wrap {
      margin-top: 5em;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &-left {
        margin-right: 3em;
        width: calc(50% - 3em);

        &-title {
          font-size: 1.2em;
          line-height: 1.6em;
          font-weight: 600;
          color: $color-title;
          text-align: right;
          font-family: $font-title;
        }

        &-text {
          margin-top: 4em;
          font-size: 1em;
          line-height: 1.3em;
          font-weight: 400;
          font-style: italic;
          color: $color-description;
          text-align: right;
          font-family: $font-document;
        }
      }

      &-right {
        width: 50%;

        &-form {
          .ant-form-item-required {
            font-size: 1.2em !important;
            line-height: 1.4em !important;
            font-weight: 600 !important;
            color: $color-title !important;
            font-family: $font-title;

            &::before {
              display: none !important;
            }
          }

          .ant-input-affix-wrapper {
            height: 50px !important;
          }

          .anticon {
            font-size: 24px;
          }

          .ant-form-item-explain-error {
            font-family: $font-document;
          }

          .ant-input {
            font-size: 1.1em !important;
            font-family: $font-document;
          }

          .ant-form-item-label {
            label {
              font-size: 1.2em !important;
              line-height: 1.4em !important;
              font-weight: 600 !important;
              color: $color-title !important;
              font-family: $font-title;
            }
          }
        }
      }
    }
  }
}

// responsive
@include responsive_200 {
}

@include responsive_280 {
}

@include responsive_320 {
}

@include responsive_375 {
}

@include responsive_456 {
}

@include responsive_768 {
}

@include responsive_1024 {
}

@include responsive_1280 {
  .home {
    &__slider {
      margin-top: 5em;

      &-item {
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &-wrap {
          text-align: center;

          &-title {
            font-weight: 700;
            font-size: 2.5em;
          }

          &-description {
            font-weight: 400;
            font-size: 1.3em;
          }

          &-btn {
            margin-top: 1.5em;
          }
        }
      }

      &-btn1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        right: 1em;
        scale: 0;
        transition: all 0.3s ease-in-out;

        &-icon {
          font-size: 3em;
          color: $color-white-tranparent;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          cursor: pointer;

          .home__slider-btn1-icon {
            color: $color-white;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      &-btn2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        left: 1em;
        scale: 0;
        transition: all 0.3s ease-in-out;

        &-icon {
          font-size: 3em;
          color: $color-white-tranparent;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          cursor: pointer;

          .home__slider-btn2-icon {
            color: $color-white;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      &:hover {
        .home__slider-btn1,
        .home__slider-btn2 {
          scale: 1;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &__title {
      text-align: center;

      &-text {
        text-align: center;
        font-size: 2.1em;
        font-weight: 700;
        color: $color-primary;
        letter-spacing: 0.05em;
        margin-top: 0.5em;
      }

      &-wall {
        margin: 1em auto;
        height: 0.3em;
        background-color: $color-primary;
        width: 5em;
      }
    }

    &__principles {
      padding: 2em 5%;
      background-color: $color-secondary;

      &-group {
        margin-top: 4em;
        margin-bottom: 5em;

        &-item {
          .ant-card-meta-title {
            font-size: 1.7em;
            font-weight: 600;
            color: $color-title;
            font-family: $font-title;
          }

          .ant-card-meta-description {
            font-size: 1em;
            font-weight: 500;
            color: $color-description;
            font-family: $font-document;
          }

          margin-bottom: 8em;
        }
      }

      &-puzzle {
        width: 100%;
        margin: 3em 0;
        justify-content: space-between;

        &-image {
          width: 45%;

          &-src {
            width: 100%;
            height: 25em;
          }
        }

        &-infor {
          width: calc(55% - 3em);
          display: flex;
          flex-direction: column;
          height: 25em;
          justify-content: space-between;

          &-title {
            font-size: 1.7em;
            font-weight: 600;
            color: $color-title !important;
            font-family: $font-document;
          }

          &-text {
            font-size: 1em;
            font-weight: 500;
            color: $color-description;
            text-align: justify;
            font-family: $font-title;
          }

          &-btn {
            font-size: 1em;
            width: 10em;
          }
        }
      }
    }

    &__cardtabs {
      margin: 2em 5%;

      &-wrap {
        margin-top: 2em;
        width: 100%;

        .ant-tabs-nav-wrap::before {
          display: none;
        }

        .ant-tabs-nav,
        .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right,
        .ant-tabs-nav-list {
          width: 100%;
        }

        .ant-tabs-nav-list {
          position: relative;
        }

        .ant-tabs-nav-list::after {
          content: "";
          position: absolute;
          height: 1px;
          background-color: $color-primary;
          bottom: 3px;
          z-index: 10;
          width: 100%;
          left: 0;
        }

        .ant-tabs-nav-wrap {
          justify-content: space-around;
        }

        .ant-tabs-tab.ant-tabs-tab-active {
          border: none;
          background-color: #fff;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 0.4em;
            background-color: $color-primary;
            bottom: 0;
            z-index: 10;
            width: 4em;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .ant-tabs-tab {
          border: none !important;
          background-color: #fff !important;
          width: 25% !important;
          display: flex;
          justify-content: center;
          font-size: 1.3em !important;
          font-family: $font-title;
          padding: 1em 0 !important;
        }

        .ant-card.css-dev-only-do-not-override-1e3x2xa {
          box-shadow: none;
        }

        .ant-tabs-nav::before {
          display: none;
        }

        .ant-card-head {
          border-bottom: none;
          padding: 1em 0;
          font-size: 1.2em;
          color: $color-title;
          font-size: $font-title;
        }

        .ant-card-body {
          padding: 0.2em 0;
          font-size: 1em;
          color: $color-description;
          font-size: $font-document;
        }
      }
    }

    &__listproducts {
      padding: 2em 5%;

      &-slider {
        margin-top: 3em;

        &-big {
          position: relative;

          &:hover {
            .home__listproducts-slider-big-btn1,
            .home__listproducts-slider-big-btn2 {
              scale: 1;
              transition: all 0.3s ease-in-out;
            }
          }

          &-btn1 {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            font-size: 40px;
            scale: 0;
            z-index: 30;
            transition: all 0.3s ease-in-out;
            color: $color-description;

            &:hover {
              cursor: pointer;
              color: $color-primary;
              transition: all 0.2s ease-in-out;
            }
          }

          &-btn2 {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 40px;
            scale: 0;
            z-index: 30;
            transition: all 0.3s ease-in-out;
            color: $color-description;

            &:hover {
              cursor: pointer;
              color: $color-primary;
              transition: all 0.2s ease-in-out;
            }
          }

          &-item {
            &-wrap {
              width: 80vw;
              padding: 0 5em;
            }

            width: 100%;
            height: 30vw;
          }
        }

        &-small {
          margin-top: 2em;
          position: relative;

          &:hover {
            .home__listproducts-slider-small-btn1,
            .home__listproducts-slider-small-btn2 {
              scale: 1;
              transition: all 0.3s ease-in-out;
            }
          }

          &-btn1 {
            position: absolute;
            top: 40%;
            right: -10px;
            transform: translateY(-50%);
            font-size: 20px;
            scale: 0;
            z-index: 30;
            transition: all 0.3s ease-in-out;
            color: $color-description;

            &:hover {
              cursor: pointer;
              color: $color-primary;
              transition: all 0.2s ease-in-out;
            }
          }

          &-btn2 {
            position: absolute;
            top: 40%;
            left: 0;
            transform: translateY(-50%);
            font-size: 20px;
            scale: 0;
            z-index: 30;
            transition: all 0.3s ease-in-out;
            color: $color-description;

            &:hover {
              cursor: pointer;
              color: $color-primary;
              transition: all 0.2s ease-in-out;
            }
          }

          &-item {
            &-wrap {
              width: calc(8vw);
              height: 4vw;
              padding: 0 10px;
            }

            width: 100%;
            height: 3vw;
            border-radius: 3px;
            transition: all 0.1s ease-in-out;

            &:hover {
              cursor: pointer;
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              transition: all 0.1s ease-in-out;
            }
          }
        }
      }
    }

    &__products {
      padding: 2em 5%;

      &-header {
        &-title {
          font-size: 1.8em;
          font-weight: 800;
          color: $color-title;
          letter-spacing: 0.5px;
        }

        &-btn {
          padding-left: 3em !important;
          padding-right: 3em !important;

          &-text {
            font-size: 1.1em;
            line-height: 1.1em;
            font-family: $font-document;
          }
        }
      }

      &-slider {
        margin: 2em -1em;
        position: relative;

        &:hover {
          .home__products-slider-btn1,
          .home__products-slider-btn2 {
            scale: 1;
            transition: all 0.2s ease-in-out;
          }
        }

        &-btn1 {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;
          right: -1em;
          scale: 0;
          transition: all 0.2s ease-in-out;
          font-size: 3em;
          color: $color-link-hover;

          &:hover {
            cursor: pointer;
            color: $color-primary;
            transition: all 0.2s ease-in-out;
          }
        }

        &-btn2 {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;
          left: -1em;
          scale: 0;
          transition: all 0.3s ease-in-out;
          font-size: 3em;
          color: $color-link-hover;

          &:hover {
            cursor: pointer;
            color: $color-primary;
            transition: all 0.3s ease-in-out;
          }
        }

        &-item {
          padding: 0.5em 1em;
        }
      }
    }

    &__event {
      padding: 2em 5%;

      &-wrap {
        margin-top: 0em;

        &-card {
          .ant-card-body {
            padding: 1em;
          }

          .ant-card-meta-title {
            font-size: 1.3em;
            font-weight: 600;
            color: $color-title;
            font-family: $font-title;
          }

          .ant-card-meta-description {
            font-size: 1.1em;
            font-weight: 400;
            color: $color-description;
            font-family: $font-document;
          }

          &-time {
            margin-top: 0.5em;
            font-weight: 600;
            font-family: $font-document;
            color: $color-description;
          }
        }
      }

      &-list {
        margin-left: 3em;

        .ant-card-body {
          padding: 0;
          box-shadow: none !important;
        }

        .ant-card.css-dev-only-do-not-override-1e3x2xa {
          box-shadow: none !important;
          padding: 1em 0;
        }

        .ant-list-item.ant-list-item-no-flex {
          padding: 0;
          box-shadow: none !important;
          border-bottom: 1px solid #333;
        }

        &-card {
          &:hover {
            cursor: pointer;

            .home__event-list-card-infor-title {
              color: $color-primary;
              transition: all 0.2s ease-in-out;
            }
          }

          &-img {
          }

          &-infor {
            margin-left: 1em;

            &-title {
              font-size: 1.2em;
              font-weight: 600;
              color: $color-title;
              font-family: $font-title;
              transition: all 0.2s ease-in-out;
            }

            &-description {
              font-size: 1em;
              font-weight: 400;
              color: $color-description;
              font-family: $font-document;
            }

            &-time {
              margin-top: 0.5em;
              font-weight: 600;
              font-family: $font-document;
              color: $color-description;
            }
          }
        }
      }
    }

    &__partner {
      padding: 2em 5%;

      &-slider {
        position: relative;
        margin: 3em -5em 1em -5em;

        &-btn1 {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;
          right: 0em;
          scale: 0;
          font-size: 3em;
          color: $color-description;
          transition: all 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
            color: $color-primary;
            transition: all 0.3s ease-in-out;
          }
        }

        &-btn2 {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;
          left: 0em;
          scale: 0;
          font-size: 3em;
          color: $color-description;
          transition: all 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
            color: $color-primary;
            transition: all 0.3s ease-in-out;
          }
        }

        &:hover {
          .home__partner-slider-btn1,
          .home__partner-slider-btn2 {
            scale: 1;
            transition: all 0.3s ease-in-out;
          }
        }

        &-item {
          &-img {
          }
        }
      }
    }

    &__contact {
      margin: 2em 5%;

      &-map {
        width: 100%;
        height: 30em;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      &-wrap {
        margin-top: 5em;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &-left {
          margin-right: 3em;
          width: calc(50% - 3em);

          &-title {
            font-size: 1.2em;
            line-height: 1.6em;
            font-weight: 600;
            color: $color-title;
            text-align: right;
            font-family: $font-title;
          }

          &-text {
            margin-top: 4em;
            font-size: 1em;
            line-height: 1.3em;
            font-weight: 400;
            font-style: italic;
            color: $color-description;
            text-align: right;
            font-family: $font-document;
          }
        }

        &-right {
          width: 50%;

          &-form {
            .ant-form-item-required {
              font-size: 1.2em !important;
              line-height: 1.4em !important;
              font-weight: 600 !important;
              color: $color-title !important;
              font-family: $font-title;

              &::before {
                display: none !important;
              }
            }

            .ant-input-affix-wrapper {
              height: 50px !important;
            }

            .anticon {
              font-size: 24px;
            }

            .ant-form-item-explain-error {
              font-family: $font-document;
            }

            .ant-input {
              font-size: 1.1em !important;
              font-family: $font-document;
            }

            .ant-form-item-label {
              label {
                font-size: 1.2em !important;
                line-height: 1.4em !important;
                font-weight: 600 !important;
                color: $color-title !important;
                font-family: $font-title;
              }
            }
          }
        }
      }
    }
  }
}

@include responsive_1440 {
}

@include responsive_1650 {
}

@include responsive_1900 {
}
