.news {
  margin: 2em 20%;
  &-navigation {
    margin-top: 8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-time {
      font-size: 1.1em;
      color: $color-title;
      font-family: $font-document;
      font-weight: 500;
    }
  }
  &-wrap {
    margin: 2em 0 1em 0;
    &-title {
      font-size: 2.2em;
      color: $color-title;
      font-family: $font-title;
      font-weight: 700;
      margin-bottom: 0.5em;
    }
    &-information {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-text {
        font-family: $font-document;
        font-size: 1.1em;
        color: $color-title;
        &-hightline {
          font-family: $font-document;
          font-size: 1.1em;
          color: $color-primary;
          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
      &-btn {
        margin-left: 20px;
      }
      &-share {
        display: flex;
        align-items: center;
        &-icon {
          width: 100%;
          height: 100%;
          display: block;
          transition: all 0.5s linear;
          &-item {
            margin-right: 6px;
          }
          &-dis {
            display: none;
          }
        }
      }
    }
    &-description {
      margin-top: 20px;
      border-top: 1px solid #bfbfbf;
      padding-top: 15px;
    }
  }
}

@include responsive_1280 {
  .news {
    margin: 2em 7%;
  }
}

@include responsive_1440 {
  .news {
    margin: 2em 13%;
  }
}

@include responsive_1650 {
  .news {
    margin: 2em 16%;
  }
}

// bản mobile
@include responsive_320 {
  .news {
    margin: 1em 2%;
    &-navigation {
      margin-top: 8em;
      display: block;
      align-items: center;
      justify-content: space-between;
      &-time {
        display: block;
        margin-top: 10px;
        font-size: 1em;
        color: $color-title;
        font-family: $font-document;
        font-weight: 500;
      }
    }
    &-wrap {
      margin: 1em 0 1em 0;
      &-title {
        font-size: 1.8em;
        color: $color-title;
        font-family: $font-title;
        font-weight: 700;
        margin-bottom: 0.5em;
      }
      &-information {
        display: block;
        &-text {
          font-family: $font-document;
          font-size: 1em;
          color: $color-title;
          &-hightline {
            font-family: $font-document;
            font-size: 1em;
            color: $color-primary;
            &:hover {
              cursor: pointer;
              font-weight: 600;
            }
          }
        }
        &-btn {
          margin-left: 0px;
          margin-top: 10px;
        }
        &-share {
          display: flex;
          align-items: center;
          &-icon {
            width: 100%;
            height: 100%;
            display: block;
            transition: all 0.5s linear;
            &-item {
              margin-right: 6px;
            }
            &-dis {
              display: none;
            }
          }
        }
      }
      &-description {
        margin-top: 20px;
        border-top: 1px solid #bfbfbf;
        padding-top: 15px;
      }
    }
  }
}
@include responsive_375 {
  .news {
    margin: 1em 2%;
    &-navigation {
      margin-top: 8em;
      display: block;
      align-items: center;
      justify-content: space-between;
      &-time {
        display: block;
        margin-top: 10px;
        font-size: 1em;
        color: $color-title;
        font-family: $font-document;
        font-weight: 500;
      }
    }
    &-wrap {
      margin: 1em 0 1em 0;
      &-title {
        font-size: 1.8em;
        color: $color-title;
        font-family: $font-title;
        font-weight: 700;
        margin-bottom: 0.5em;
      }
      &-information {
        display: block;
        &-text {
          font-family: $font-document;
          font-size: 1em;
          color: $color-title;
          &-hightline {
            font-family: $font-document;
            font-size: 1em;
            color: $color-primary;
            &:hover {
              cursor: pointer;
              font-weight: 600;
            }
          }
        }
        &-btn {
          margin-left: 0px;
          margin-top: 10px;
        }
        &-share {
          display: flex;
          align-items: center;
          &-icon {
            width: 100%;
            height: 100%;
            display: block;
            transition: all 0.5s linear;
            &-item {
              margin-right: 6px;
            }
            &-dis {
              display: none;
            }
          }
        }
      }
      &-description {
        margin-top: 20px;
        border-top: 1px solid #bfbfbf;
        padding-top: 15px;
      }
    }
  }
}
@include responsive_456 {
  .news {
    margin: 1em 2%;
    &-navigation {
      margin-top: 8em;
      display: block;
      align-items: center;
      justify-content: space-between;
      &-time {
        display: block;
        margin-top: 10px;
        font-size: 1em;
        color: $color-title;
        font-family: $font-document;
        font-weight: 500;
      }
    }
    &-wrap {
      margin: 1em 0 1em 0;
      &-title {
        font-size: 1.8em;
        color: $color-title;
        font-family: $font-title;
        font-weight: 700;
        margin-bottom: 0.5em;
      }
      &-information {
        display: block;
        &-text {
          font-family: $font-document;
          font-size: 1em;
          color: $color-title;
          &-hightline {
            font-family: $font-document;
            font-size: 1em;
            color: $color-primary;
            &:hover {
              cursor: pointer;
              font-weight: 600;
            }
          }
        }
        &-btn {
          margin-left: 0px;
          margin-top: 10px;
        }
        &-share {
          display: flex;
          align-items: center;
          &-icon {
            width: 100%;
            height: 100%;
            display: block;
            transition: all 0.5s linear;
            &-item {
              margin-right: 6px;
            }
            &-dis {
              display: none;
            }
          }
        }
      }
      &-description {
        margin-top: 20px;
        border-top: 1px solid #bfbfbf;
        padding-top: 15px;
      }
    }
  }
}
