// Colors
//$color-primary: #ff731d;
$color-primary: #ff7d15;
$color-second: #ff741dd5;
$color-secondary: #ff741d23;

$color-header: #df7b3d;

$color-blue: #092f5c;

$color-white: #fff;
$color-white-tranparent: #ffffff77;
$color-black: #000;
$color-yellow: #feb914;
$color-red: #da251c;
$color-orange: #fa8f00;

$color-banana-yellow: #ebfb00;
$color-title: #54595f;
$color-description: #7a7a7a;
$color-bright-red: #f53a39;

$color-grey-light: #efefef;
$color-grey-dark: #333;

$color-hover: #edf5f8;
$color-link-hover: #ccc;

$color-paragraph: rgba(0, 0, 0, 0.54);

$color-green: #34eb49;

// Font

$font-menu: "Barlow Semi Condensed", sans-serif !important;
$font-title: "Barlow Semi Condensed", sans-serif !important;
$font-document: "Maven Pro", sans-serif !important;
$default-font-size: 1.6rem;

// box shadow
$default-box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 1px 1px;
$shopee-box-shadow: 0 1.5px 1.5px 0 rgba(0, 0, 0, 0.1);
// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;
